*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
#parent{
    height:80px;
    width:100%;
    /* border:2px solid black; */
    background-color: rgba(254, 155, 218, 0.384);
}
#parent>ul{
    display:flex;
    justify-content:space-evenly;
    position: relative;
    top:30px;
    list-style-type:none;
}
/* #parent>ul>li{
    color:maroon;
} */
#parent>ul>li:hover{
    color:red;
    cursor: pointer;
}
.anchor{
    color:black;
    text-decoration: none;
}
.anchor:hover{
    color: red;
}

#parent>img{
    width:140px;
    position:absolute;
    top:15px;
    left:10px;
    
}


#parent>p{
    height:450px;
    width:480px;
    /* border: 2px solid black; */
    position:absolute;
    top:140px;
    left:110px;
    border-radius:20px;
    padding:10px;
    box-shadow: 2px 2px 6px 8px plum;
    color: aliceblue;
    background-color:palevioletred;

}
#parent>p:hover{
    height:450px;
    width:480px;
    /* border: 2px solid black; */
    position:absolute;
    top:140px;
    left:110px;
    border-radius:20px;
    padding:10px;
    box-shadow: 2px 2px 6px 8px plum;
    color:white;
    background-color:palevioletred;
    opacity:0.9;
    transform: translateX(20px);
}


#parent>#d1>#img1{
    height: 200px;
    width:400px;
    position:absolute;
    top:140px;
    left:740px;
}
#parent>#d2>#img2{
    height: 200px;
    width:400px;
    position:absolute;
    top:400px;
    left:740px;
}
#parent>#d1>#img1:hover{
    height: 200px;
    width:400px;
    position:absolute;
    top:140px;
    left:740px;
    box-shadow:3px 3px 5px 5px rgb(251, 104, 175);
    transform: scale(1.1);
    border-radius:50%;
    transform: translateX(10px);
}
#parent>#d2>#img2:hover{
    height: 200px;
    width:400px;
    position:absolute;
    top:400px;
    left:740px;
    box-shadow:3px 3px 5px 5px rgb(251, 104, 175);
    transform: scale(1.1);
    transform: translateX(10px);
}